<!DOCTYPE html>
<html>
	<head>
		<title>Siil - eID authentication provider</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<style type="text/css">

		h2 {
			margin-bottom: 40px;
		}

		div.columns h3,
		div.columns form {
			margin-bottom: 0;
		}

		section + section {
			margin-top: 45px;
		}

		dl {
			line-height: inherit;
			margin-top: 25px;
		}

		dl h3 {
			font-size: 3.6rem;
			color: #1D1D1D;
		}

		dl dt {
			text-transform: uppercase;
			margin-bottom: 0;
			font-weight: 900;
			font-size: 0.81em;
			color: #3E3E3E;
		}

		dl dd {
			margin-bottom: 30px;
			margin-left: 0;
			font-size: .92em;
			word-wrap: break-word;
		}

		</style>
	<body>
		<div class="container">
			<div class="row">
				<div class="eight columns">
					<h1><a href="/" style="text-decoration:none;">Siil</a></h1>
				</div>
				{{#if authed}}
					<div class="three columns" style="text-align:right;line-height:24px;font-weight:bold;font-size:1.1em;padding-top:7px;">
						{{first_name}} {{last_name}}
					</div>
					<div class="one column" style="text-align:right;">
						<form action="signout/{{token}}" method="POST">
							<button class="button button-primary" type="submit"><i class="fa fa-sign-out"></i></button>
						</form>
					</div>
				{{else}}
					<div class="four columns" style="text-align:center;">
						<a class="button button-primary u-full-width" href="signin/{{site_id}}"><i class="fa fa-sign-in"></i> Sign in</a>
					</div>
				{{/if}}
			</div>
			{{#if authed}}
				<div class="row">
					<div class="eleven columns">
						<h2>My sites</h2>
					</div>
					<div class="one column" style="text-align:right;">
						<a href="/addsite" class="fa fa-plus" title="Add new site" style="text-decoration:none;font-size:2em;"></a>
					</div>
				</div>
				{{{Sections}}}
			{{else}}
				<div class="row">
					<br><br>
					<h3>What?</h3>
					<p>Siil is a basic eID authentication provider to make your user authentication painless</p>
					<h3>How?</h3>
					<p>Sign in, register your site, obtain the proper tokens & You're all set</p>
					<h3>Is this secure?</h3>
					<p>Hell naw</p>
				</div>
			{{/if}}
		</div>
	</body>
</html>